
:root {
    --cor-primaria: #B6EADA;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo"
}

body{
    background-color: #03001C;
}

.layout {
    margin: 0 3%;
}

header{
    position: absolute;
   
}

.logo-img{
    margin-left: 55%;
    width: 80px;
    height: auto;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(48, 30, 103, 0.5);   
    z-index: 9999;
}

nav li {
    position: relative;
    display: inline-block;
    color: var(--cor-primaria);
    text-decoration: none;
  }
  
  nav li::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, white 0%, rgba(48, 30, 103, 0.5) 100%);
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  nav li:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  
ul{
    margin-right: 2.5%;
    display: flex;
    gap: 30px;
    list-style: none;
}

li{
    font-size: 22px;
    margin-right: 20px;
    color: var(--cor-primaria);  
}

a{
    text-decoration: none;
    color: var(--cor-primaria);
}
a:hover {
    color: white;
}

#menu-imagem-mobline{
    visibility: hidden;
    display: none;
}

#menu-sair{
    visibility: hidden;
    display: none;
}

.comeco {
    height: 44em;
    background-image: url(/assets/imagens/foto-cabecalho.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative; /* Adicione essa propriedade */
    z-index: -1;
    
}

#mensagem {
    padding: 15% 0 0 27%;
    font-size: 3.5rem;
    color: white;
  
}

.container{
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}

.imagem-vini{
    padding-left: 200px;
    padding-top: 50px;
}    

.imagem-vini img {
    cursor: pointer;
    transition: 0.2s;
    max-width: 100%;
    transform: scale(1); /* Define o tamanho inicial da imagem */
}
  
.imagem-vini img:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem no hover */
}

.sobre-mim{
    color: var(--cor-primaria);
    text-align: justify;
    width: 50%;   
}

.sobre-mim h2{
    text-align: center;
}

.sobre-mim p{
    margin-right: 10px;
}

.container-caixa{
    color: var(--cor-primaria);
    padding-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    height: 40em;
    border: 1px solid var(--cor-primaria);
    border-radius: 10px;
}

.habilidade-h2{
    display: block;
}

.container-habilidade{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    z-index: 0;
}

.descricao-habilidade{
    padding-left: 5%;
    width: 40%;
    text-align: justify;
}

.descricao-habilidade h2{
    margin-bottom: 5%;
}

.icone-habilidade{
    display: flex;
    flex-wrap: wrap;
}

.icone-habilidade-icone{
    margin: 0 3% 3% 0;
    flex: 0 0 calc(30% - 10px); /* 33.33% para cada item, com espaço para margens */
    cursor: pointer;
    padding: 10px;
    background-color: #03001C;
    border: 1px solid #5B8FB9;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    transform: scale(1);
    z-index: 0;
}

.icone-habilidade-icone:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem no hover */
    z-index: 1;
    transition-delay: 0s;
    border-color: white;
}

.contato-h2{
    display: block; 
}

.contato-container{
    display: flex;
    margin-top: 2%;
    justify-content: center;
}

.icone-contato{
    margin-left: 5%;
}

.container-caixa-contato{
    color: var(--cor-primaria);
    padding-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    height: 15em;
    border: 1px solid var(--cor-primaria);
    border-radius: 10px;
}

.nome-contato{
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 15px;
    margin-top: 5px;
    color: #5B8FB9;
}

.imagem-contato{
    cursor: pointer;
    transition: 0.2s;
    max-width: 100%;
    transform: scale(1); /* Define o tamanho inicial da imagem */
}

.imagem-contato img:hover {
    transform: scale(1.3); /* Aumenta o tamanho da imagem no hover */
}
  
.imagem-contato img:focus {
    outline: none; /* Remove a borda ao focar na imagem */
}

.rodape{
    background-color: #301E67;
    height: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20%;
    color: var(--cor-primaria);
}

@media screen and (max-width: 600px) {
    .logo-img{
        position: absolute;
        margin: -6% 0 0 2.5%;
        /*margin: -70% 0 0 3%;*/
        
    }

    header{
        flex-direction: column;
    
    }
    nav{
        height: 8%;
    }

    ul{
        display: none;
        margin: 0 33% 5% 0;
        flex-direction: column;
        align-items: center;
    }

    #menu-sair{
        display: inline-block;
        position: absolute;
        cursor: pointer;
        /*margin: -131.9% 0 0 88.5%;*/
    }

    #menu-imagem-mobline{
        visibility: visible;
        display: inline-block;
        position: absolute;
        cursor: pointer;
        margin: 0 0 1% 88%;
        /*margin: -132% 0 0 88%;*/
    }

    .layout .comeco{
        height: 25em;
        margin-bottom: 2em;
    }

    #mensagem {
        font-size: 25px;
    }

    .container {
        display: block;
        align-items: center;
        padding: 0;
    }

    .imagem-vini {
        width: 50%;
        padding: 0;
        margin-left: 8em;
        margin-bottom: 25px;
    }

    .sobre-mim {
        width: 100%;
        margin-bottom: 5%;
    }

    .sobre-mim p {
        margin: 0 5%;
    }

    .container-habilidade {
        display: block;
    }

    .descricao-habilidade {
        width: 95%;
        margin: 5% 10% 0 0;
        height: 200px;
    }

    .icone-habilidade {
        padding: 10% 0 0 10%;
    }

    .container-caixa-contato {
        height: 10em;
    }

    .imagem-contato img {
        width: 30px;
    }

    .nome-contato {
        font-size: 10px;
    }

    .rodape {
        padding-top: 1%;
        display: block;
        text-align: center;
    }

    .rodape p {
        margin: 10px 0 0 0;
    }
}