
:root {
    --cor-primaria: #B6EADA;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo"
}

body{
    background-color: #03001C;
}

.layout {
    margin: 0 6%;
}

.logo-img{

    width: 80px;
    height: auto;
}

header{
    position: fixed;
    width: 88%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(3, 0, 28, 0.5);   
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 0px;
}

li{
    font-size: 22px;
    margin-right: 20px;
    color: var(--cor-primaria);  
}

a{
    text-decoration: none;
    color: var(--cor-primaria);
}
a:hover {
    color: white;
}
.comeco {
    height: 640px;
    background-image: url(/assets/imagens/foto-cabecalho.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#mensagem {
    padding: 15% 0 0 27%;
    font-size: 60px;
    color: white;
    display: inline-block;
}

.container{
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}

.sobre-mim{
    color: var(--cor-primaria);
    text-align: justify;
    width: 50%;
    
}

.sobre-mim h2{
    text-align: center;
}
.container-caixa{
    color: var(--cor-primaria);
    padding-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    height: 40em;
    border: 2px solid white
}

.rodape{
    height: 30px;
    justify-content: center;
    display: flex;
    color: var(--cor-primaria);
}

.rodape div{
    margin-left: 100px;
}